<header class="bar bar-nav">
    <span class="title">Request a Ride</span>
    <div class="pull-right popup_btn"><a href="#popover"><img class="pull-right" src="img/popup_menu.png"></a></div>
</header>
<div id="popover" class="popover">
    <ul class="table-view">
        <li class="table-view-cell edit_profile">EDIT PROFILE</li>
        <li class="table-view-cell logout">LOGOUT</li>
    </ul>
</div>
<div id="fade" class="black_overlay"></div>
<div class='content text-center black rider_wait_pickup'>
    <div class="content-padded" id="route_info">
        <h3>RIDEMATCH ACCEPTED</h3>
        <div id="driver_info">
            <%= name %> <%= phone %> <br>
            <!--Estimated Time of Pick-Up: <span class="eta"></span>-->
        </div>
        <div class="content-padded">
            <button id="driver_arrived" class="btn btn-primary btn-block">DRIVER ARRIVED</button>
            <!--<button id="destination_reached" class="btn btn-primary btn-block">DESTINATION REACHED</button>-->
        </div>
        <div id="wait_driver" class="text-center content-padded" style="display: none">

        </div>

    </div>
    <div id="map">

    </div>

    <div id="cancel_wrapper" class="bottom w100 padded">
        <div>
            <button id="cancel_request" class="btn btn-primary btn-block">CANCEL REQUEST</button>
        </div>
    </div>
    <div class="box box-center" id="ridematch_success" style="display: none">
        <br>
        <h4>RIDEMATCH SUCCESS</h4><br>
        <button class="btn btn-primary btn-block">LOG OUT</button>
    </div>
</div>

<div id="current_pos_wrapper">
    <div class="gmnoprint" draggable="false" controlwidth="28" controlheight="55"
         style="margin: 10px;-webkit-user-select: none;position: absolute;bottom: 333px;right: 38px;">
        <div id="get_curr_pos" class="gmnoprint" controlwidth="28" controlheight="55"
             style="position: absolute; left: 0; top: 0;">
            <div draggable="false"
                 style="-webkit-user-select: none; box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px; border-radius: 2px; cursor: pointer; width: 28px; height: 28px; background-color: rgb(255, 255, 255);">
                <div title="Zoom in"
                     style="position: relative;width: 18px;height: 18px;left: 5px;top: 5px;background-image: url('img/mylocation.png');background-size: 180px 18px;background-position: -162px 0;">
                    <div jstcache="530"
                         class="widget-mylocation-button-icon-common widget-mylocation-cookieless widget-mylocation-button-blue"
                         jsan="7.widget-mylocation-button-icon-common,7.widget-mylocation-button-blue,7.widget-mylocation-cookieless"></div>
                </div>
            </div>
        </div>
    </div>
</div>
